# Python Exercises

In [3]:
# 1 - Write a string index that returns just the letter 'r'  from 'Hello World' .
str1 = 'Hello World'

for letter in str1:
    if letter == 'r':
        print(letter)

r

In [4]:
# 1 - Write a string index that returns just the letter 'r'  from 'Hello World' . (pt 2)
str1[-3]

'r'

In [7]:
# 2 - Use string slicing to grab the word 'ink'  from inside 'tinker‘
str2 = 'tinker'
str2[1:-2]

'ink'

In [8]:
# 3 - Write an expression using any of the string formatting methods we have learned to 
#     return the phrase 'Python rules!‘
str1 = 'Python'
str2 = 'rules'
print(f'{str1} {str2}!')

Python rules!

In [10]:
# 4 - Create a list that contains at least one string, one integer and one float.
lst1 = ['Python', 1, 2.5]
lst1

['Python', 1, 2.5]

In [11]:
# 5 - Create a dictionary where all the keys are strings, and all the values are integers.
dict1 = {'Python': 1, 'Java': 2, 'C++': 3}
dict1

{'Python': 1, 'Java': 2, 'C++': 3}

In [12]:
# 6 - Write an expression that would turn the string 'Mississippi' into a set of unique letters.
str1 = 'Mississippi'
list( set(str1) )

['i', 's', 'M', 'p']

In [16]:
# 7 - Write a script that opens a file named 'test.txt' , writes 'Hello World'  to the file, then closes it.
test = open('test.txt', 'w+')
test.write('Hello World')
test.close()

In [18]:
# 9 - Write a function called myfunc that prints the string 'Hello World'.
def myfunc():
    print('Hello World')
    
myfunc()

Hello World

In [21]:
# 10 - Define a function called myfunc that takes in a name, and prints 'Hello Name‘
def myfunc(name):
    print(f'Hello {name}')
    
myfunc('Brandon')

Hello Brandon

In [22]:
# 11 - Define a function called myfunc that takes in a Boolean value (True or False). If 
#      True, return 'Hello', and if False, return 'Goodbye‘
def myfunc(boolean):
    if boolean:
        return 'Hello'
    else:
        return 'Goodbye'
    
myfunc(True)

'Hello'

In [23]:
# 12 - Define a function called myfunc that takes three arguments, x, y and z.If z is 
#      True, return x.  If z is False, return y.
def myfunc(x, y, z):
    if z:
        return x
    else:
        return y
    
myfunc(1, 2, True)

1

In [24]:
# 13 - Define a function called myfunc that takes in two arguments and returns their 
#      sum.
def myfunc(a, b):
    return a + b

myfunc(4, 5)

9

In [25]:
# 14 - Define a function called is_even that takes in one argument, and returns True 
#      if the passed-in value is even, False if it is not.
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False
    
is_even(4)

True

In [28]:
# 15 - Define a function called is_greater that takes in two arguments, and returns 
#      True if the first value is greater than the second, False if it is less than or 
#      equal to the second.
def is_greater(num1, num2):
    if num1 > num2:
        return True
    return False

is_greater(5,4)

True

In [30]:
# 16 - Define a function called myfunc that takes in an arbitrary number of 
#      arguments, and returns the sum of those arguments.
def myfunc(*args):
    num_sum = 0
    for x in args:
        num_sum += x
        
    return num_sum

myfunc(4, 5, 6)

15

In [32]:
# 17 - Define a function called myfunc that takes in an arbitrary number of 
#      arguments, and returns a list containing only those arguments that are even.
def myfunc(*args):
    lst = []
    
    for x in args:
        if x % 2 == 0:
            lst.append(x)
        
    return lst

myfunc(1, 2, 3, 4, 5, 6)

[2, 4, 6]

In [41]:
'''
18 - Define a function called myfunc that takes in a string, and returns a 
matching string where every even letter is uppercase, and every odd letter 
is lowercase. Assume that the incoming string only contains letters, and 
don't worry about numbers, spaces or punctuation. The output string can 
start with either an uppercase or lowercase letter, so long as letters 
alternate throughout the string.
'''
def myfunc(str1):
    new_str = ''
    x = 0
    
    while x < len(str1):
        if x % 2 == 0:
            new_str += str1[x].upper()
        else:
            new_str += str1[x].lower()
            
        x += 1
            
    return new_str

myfunc('Spongebob')

'SpOnGeBoB'